/* @font-face {
    font-family: IRANSansXBolds;
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/woff/IRANSansX-bold.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/woff/IRANSansX-regular.woff') format('woff'),
        url('./fonts/woff2/IRANSansX-regular.woff2') format('woff2');
} */
